<nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img style="width: 124px;" src="../../../assets/logo.png" alt="Logo" class="d-inline-block align-text-top">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <app-menulist></app-menulist>
      </div>
      <div class="right-side">
        <app-social-media-list></app-social-media-list>
      </div>
    </div>
  </nav>
