<dx-data-grid [rowAlternationEnabled]="true" [dataSource]="socialMedialist">
  [allowColumnReordering]="true"
  [columnAutoWidth]="true"
  [wordwreapenabled]="true"
  [filterRow.visible]="true">
  <dxo-search-panel [visible]="true" [width]="240" placeholder="Arayınız..."></dxo-search-panel>
  <dxo-filter-panel [visible]="true" applyFilter="auto"></dxo-filter-panel>

  <!--columns-->
  <dxi-column caption="Sosyal Medya Linki" dataField="link"></dxi-column>
  <dxi-column caption="Sosyal Medya Adi" dataField="name"></dxi-column>
  <dxi-column heigth="500" [width]="500" caption="Açıklama" dataField="description"></dxi-column>

  <dxo-toolbar >
    <dxi-item class="add-button" name="addRowButton"></dxi-item>
    <dxi-item name="searchPanel"></dxi-item>
    <dxi-item [visible]="true" applyFilter="onClick" name="applyFilterButton"></dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button (click)="addRowRequest()" [icon]="'add'" [text]="'Ekle'">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item name="columnChooserButton"></dxi-item>
  </dxo-toolbar>

  <!-- pagi-->
  <dxo-paging [pageSize]="10"> </dxo-paging>
  <dxo-pager [visible]="true" [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
  </dxo-pager>
</dx-data-grid>
<dx-popup
[resizeEnabled]="true"
maxHeight="500"
maxWidth="500"
    contentTemplate="popup-content"
    [(visible)]="isPopupVisible"
    [hideOnOutsideClick]="true"
    title="Yeni Sosyal Medya Bilgileri">
    <div *dxTemplate="let data of 'popup-content'">
      <app-add-form></app-add-form>
    </div>
</dx-popup>